@{
    ViewData["Title"] = "Home Page";
}

@model List<Models.Kullanici>

<div class="row">
    <div class="col-md-12">
        <h2>Kullanıcı Listesi</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ad Soyad</th>
                    <th>Kullanıcı Adı</th>
                    <th>Mail</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (Models.Kullanici item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Ad @item.Soyad</td>
                        <td>@item.KullaniciAdi</td>
                        <td>@item.Mail</td>
                        <td>
                            <a href="~/Home/KullaniciGuncelle/@item.Id">Güncelle</a>
                            &nbsp;
                            <a href="~/Home/KullaniciSil/@item.Id">Sil</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
