@{
    ViewData["Title"] = "Kullanıcı Güncelle";
}

@model Models.Kullanici

<div class="row">
    <div class="col-md-12">

        <h2>Kullanıcı Ekle</h2>

        <form asp-controller="Home" asp-action="KullaniciGuncelle" method="post" enctype="multipart/form-data">

            <input type="text" asp-for="KullaniciAdi" value="@Model.KullaniciAdi" placeholder="Kullanıcı Adı" />
            <br />

            <input type="text" asp-for="Ad" value="@Model.Ad" placeholder="Ad" />
            <br />

            <input type="text" asp-for="Soyad" value="@Model.Soyad" placeholder="Soyad" />
            <br />

            <input type="text" asp-for="Mail" value="@Model.Mail" placeholder="Mail" />
            <br />

            <input type="text" asp-for="Sifre" value="@Model.Sifre" placeholder="Sifre" />
            <br />

            <button type="submit">GÜNCELLE</button>

        </form>

    </div>
</div>
